# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
example/desc1.json
example/desc2.json
example/desc3.json
example/example.json
example/img/61133b4c-2e9b-4da9-b22c-009baad8eadd.jpg
example/img/9818875c-9e8b-4dc5-98ae-5909a8d632e2.jpg
example/img/e7ace1de-ab7f-4120-922d-23441a041bd9.jpg
