.App {
  text-align: center;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  max-height: 1500px;
}
.leaflet-container {
  margin: auto;
  width: 100%;
  height: 100%;
}

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 1rem;
  z-index: 9999;
}

.modal {
  position: fixed;
  background: white;
  width: 78%;
  height: 42%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding: 1rem;
  border-radius: 8px;
  z-index: 9999;
}

.close {
  display: none;
}